/*
* Css para los ejemplos de la carpeta "/ejemplos-css/"
*
*/
h1, h2, h3, h4, h5, h6 {
	font-family: serif;
	color: red;
}

h1 {
	color: teal;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

h4, h5, h6 {
	font-size: 1.3em;
}

@media print {
	h1 {
		color: pink;
	}
}

p {
	color: brown;
}

span {
	color: lime;
	background-color: black;
}

p span {
	color: white;
	background-color: navy;
}

.destacado{
	color:red;
}

