@charset "UTF-8";

/*	Nuestra hoja de estilos principal
	@author Arkaitz Marcos
	@version 1.0
	@fecha 27/06/19
	
	0. Reset - resetear estilos del user-agent
	1. Animaciones - @Keyframes 
	2. Etiquetas - Dar estilos base a todas las etiquetas
	3. Clases comunes (Clases e IDs)
	4. Layouts - Secciones de la web (cabecera, menus, pies)
	5. Media Querys para RWD (Responsive Web Design)
*/

/*	1. Reset - resetear estilos del user-agent
************************************************************************************/
* {
	margin: 0;
	padding: 0;
}

/*	Clearfix
************************************************************************************/
.clearfix{
	overflow:auto;
}

/*	2. Etiquetas - Dar estilos base a todas las etiquetas
************************************************************************************/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	margin: 0;
	font-weight: 400;
	line-weight: 1.5;
	color: #212529;
	text-align: left;
	background-color: #FFF;
}

label{
	color: 003580;
	margin-right: 15px;
}

label:after{
	content: ": "
}

label.obligatorio:after{
	content:"*: ";
}

input[type="text"],input[type="number"], input[type="mail"]{
	border: none;
	border-bottom: 2px solid #003580;
	padding: 5px 10px;
}

input[type="text"]:invalid,input[type="number"]:invalid, input[type="mail"]:invalid{
	color: orangered;
	border-color: orangered;
}

input[type="text"]:valid,input[type="number"]:valid, input[type="mail"]:valid{
	color: #003580;
	border-color: #003580;
}

input[type="submit"], input[type="reset"]{
	background-color: #003580;
	color: #FFF;
	border-radius:85px;
	padding: 5px 15px;
}

input[type="reset"]{
	background-color: red;
}

input[type="submit"]:hover{
	background-color: #0358d8;
}

input[type="reset"]:hover{
	background-color: orangered;
}

/*	3. Clases comunes (Clases e IDs)
************************************************************************************/
.active {
	background: #003580;
	border-radius: 2px;
	color: #F7F7F7 !important;
	padding: 3px 8px;
}

#button-top {
	position: fixed;
	bottom: 2.25em;
	right: 8em;
	background-color: white;
	border-radius: 50%;
	padding: 1px;
}

@keyframes pulse{
	0% {transform: scale(1)}
	100% {transform: scale(1.25)}
}

.card{
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.card:hover .card-content{
	bottom: 0px;
	transition-duration: 1s;
}

.card .card-content{
	background-color: rgba(0,0,0,7);
	padding: 10px;
	color: #FFF;
	position: absolute;
	bottom: -165px;
}

.card .card-content h2{
	color: #FFF;
	font-weight: 600;
	font-size: 1.6em;
}

.fas {
	text-shadow: 0px 3px 5px grey;
}

.card .card-content .fa-heart{
	float: right;
	color: #f98585;
}

.card .card-content .fa-heart:hover{
	animation: pulse .5s infinite alternate;
}

/*4. Layouts - Secciones de la web (cabecera, menus, pies)
************************************************************************************/
header#principal {
	background-color: #003580;
	color: #FFF;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}

header .content {
	max-width: 1024px;
	margin: auto; /*centrado en horizontal*/
	background-color: #003580;
}

header a {
	color: #F7F7F7;
	text-decoration: none;
}

header a:hover {
	color: #F7F7F7;
	cursor: pointer;
}

header h1 {
	padding: 10px;
}

.content {
	max-width: 1024px;
	margin: auto; /*centrado en horizontal*/
}

main.content {
	margin-top: 120px;
}

#wrapper-navegador {
	background: #F7F7F7;
	border-bottom: 1px solid #dee0e2;
	width: 100%;
}

#navegador {
	background: #F7F7F7;
	padding: 10px;
}

#navegador li {
	display: list-item;
	margin-right: 20px;
}

#navegador a {
	color: #003580;
	font-weight: 600;
	line-height: 1;
	text-decoration: none;
	line-height: 1;
}

/*#navegador a:hover {
	color: #F7F7F7;
	background-color: #003580;
	cursor: pointer;
	border-radius: 2px;
    padding: 3px 8px;
}*/

p {
	line-height: 20px;
	margin-bottom: 10px;
}

a {
	color: #0358d8;
}

a:hover {
	color: #d86c5c;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6, hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

hr {
	width: 100%;
}

.flex {
	display: flex;
}

img {
	width: 100%;
	height: auto;
	/*-webkit-filter:grayscale(100%);
	filter: grayscale(100%);*/
}

.text-danger {
	color: red;
}

ol, ul {
	list-style-type: none;
}

footer {
	background-color: #DDD;
	padding: 20px;
	margin-top: 30px;
}

code, pre {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
		Courier New, monospace;
	font-size: 1em;
	background: #F6F8FA;
	color: #333;
	font-size-adjust: .5;
	white-space: pre-wrap;
	word-break: break-all;
}

pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
}

p > span{
	color: orangered;
	text-decoration: underline;
}

ul.exception{
	margin: 18px;
	list-style-type: disc;
}

#selector-adyacente code{
	background-color: orangered;
	color: #FFF;
    font-weight: 900;
}

#selector-atributos ul[class=exception] {
	background-color: salmon;
	color: #FFF;
	font-style: italic;
	padding: 5px;
	list-style-type: circle;
}

/*ol#listaAnimales, ol#listaSW{
	margin-left: 5px;
}*/

ol#listaSW ul{
	margin: 18px;
	list-style-type: circle;
}

ol#listaSW ul ul{
	list-style-type: square;
}

/*	5. Media Querys para RWD (Responsive Web Design)
************************************************************************************/

/* MOBILE L */
@media(max-width: 425px), (max-width: 1024px) and (orientation: landscape){
	footer{
		position:relative;
	}
	
	#button-top{
		bottom: 0.5em;
		right: 0.5em;
	}
	.flex{
		justify-content: space-around;
	}

	main.content{
		padding: 5px;
	}
	p{
		background-color: #000;
		color: #FFF;
	}
}


























